@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

a,
a:hover {
  text-decoration: none !important;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.dev{
color: var(--yellow);
}

#preloader {
  background: #fff url("assets/img/preloader.gif") no-repeat center
    center;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-size: 5.5%;
  z-index: 999;
}

.to_top {
  background-color: var(--blue);
  border: none;
  color: white;
  position: fixed;
  bottom: 40px;
  right: 30px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  display: none;
  transition: 0.4s ease-in-out;
  text-align: center;
  opacity: 0.8;
}

.to_top i {
  font-size: 30px;
  padding: 0px 10px 5px 10px;
}

.to_top:hover {
  transform: scale(1.05) translateY(-5px);
}
.navbar-toggler-icon {
  display: block;
  width: 40px;
  height: 3px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background: #fec600;
  margin: 7px 0;
}

:root {
  --open: "Open Sans", sans-serif;
  --rale: "Raleway", sans-serif;
  --sac: "Sacramento", cursive;

  /*color*/
  --purple: #744fa0;
  --yellow: #fec600;
  --offwhite: #f1f1f1;
  --offblack: #222;
  --ash: #e5e5e5;
  --blue: #4B70FD;
}
/*navbar*/

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: var(--blue);
  transition: 0.5s;
}

.navbar-brand:hover {
  color: white;
}

nav {
  background: transparent;
  position: absolute !important;
  top: 15px;
  left: 0;
  z-index: 9999;
  width: 100%;
  border-bottom: 1px solid var(--ash);
  padding-bottom: 20px;
}

nav ul li a {
  color: white !important;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 15px !important;
  transition: 0.5s;
  position: relative;
}

nav ul li a:hover {
  color: var(--blue);
}

nav ul li a:after {
  content: "";
  width: 70%;
  height: 3px;
  background: var(--blue);
  position: absolute;
  bottom: -10px;
  left: 15%;
  transition: 0.5s;
  opacity: 0;
}

nav ul li a:hover:after {
  bottom: -10px;
  opacity: 1;
}

/*banner*/

#banner {
  background: url(assets/img/banner2.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  height: 100vh;
}

#banner .banner_propic img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--yellow);
  margin-bottom: 20px;
}


#banner .pro_info .pro_title {
  color: var(--offwhite);
  font-size: 35px;
  font-weight: 600;
}

#banner .banner_overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .banner_btn{
color: var(--offwhite);
border-color: var(--offwhite);
}

#banner .social_btn a i{
  color: #353535;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  background: var(--offwhite);
  margin: 0 5px;
  font-size: 20px;
}

#banner .social_btn a i:hover{
  
}
/* end of banner*/

/*about*/

#about {
  margin: 50px 0;
}

#about .about_img img {
  border: 3px solid var(--blue);
}

#about .abt {
  display: flex;
  align-items: center;
}

.about_text h2 {
  margin-bottom: 20px;
}

.about_text p {
  line-height: 30px;
  font-weight: 500;
}

#gallery .title h2 {
  margin-bottom: 20px;
}

/* end of about*/

/* experience */

.cards {
  background-color: #4B70FD;
  background: url(assets/img/exp3.jpg) center no-repeat;
  background-size: cover;
  padding: 30px 0;
  background-attachment: fixed;
}

.services{
  background: url(assets/img/services2.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.cards .title {
  margin-bottom: 20px;
}
.cards .exp_overlay {
  background-color: rgba(255, 255, 255, 0.923);
  padding: 30px;
}
.cards .exp_box .inner{
	padding:20px;
	text-align: center;
	position: relative;
}

.cards .exp_box .inner h4{
  margin: 20px 0;
}

.cards .exp_box .inner::before{
	content: '';
	position: absolute;
	left:0;
	bottom:0;
	width:0;
	box-sizing: border-box;
	height: 0;
	border-bottom:3px solid transparent;
	border-left: 3px solid transparent;
	transition: all .8s ease;
}
.cards .exp_box .inner::after{
	content: '';
	position: absolute;
	right:0;
	top:0;
	width:0;
	box-sizing: border-box;
	height:0;
	border-top:3px solid transparent;
	border-right: 3px solid transparent;
	transition: all .8s ease;
}
.cards .exp_box:hover .inner::after,
.cards .exp_box:hover .inner::before{
   border-color: var(--blue);
   width: 100%;
   height: 100%;
}
.cards .exp_box .inner i{
	font-size:50px;
	color:#000;
	transition: color .8s ease;
}
.cards .exp_box:hover .inner i{
	color:var(--blue);
}

/*footer*/

footer {
  /* background: var(--blue); */
  padding: 30px 0;
  text-align: center;
}

footer .title{
  color: rgb(0, 0, 0);
  padding: 30px 0;
}

.bor {
  position: relative;
  margin: 40px 0;
}

.footer_info:after {
  content: "";
  width: 1px;
  background: rgb(0, 0, 0);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.bor:last-child .footer_info:after {
  width: 0;
}

.footer_text a {
  color: white;
}


.btn {
  border: 1px solid var(--blue);
  margin: 30px 0;
  padding: 10px 35px;
  border-radius: 30px;
  display: inline-block;
  font-size: 20px;
  color: var(--blue);
}

/* end of footer*/

#footer_bottom {
  background: var(--blue);
  padding: 20px 0;
  color: white;
}

#footer_bottom p a {
  color: var(--offwhite);
  font-weight: 600;
  font-size: 20px;
}

/* responsive */

@media (max-width: 575px) {
  #banner .banner_propic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid var(--yellow);
    margin-bottom: 20px;
  }

  #banner .pro_info {
    width: 320px;
    padding: 12px;
    border: 2px solid var(--yellow);
    font-size: 12px;
  }

  #banner .pro_info .pro_title {
    color: var(--yellow);
    font-size: 28px;
    font-weight: 600;
  }
  p {
    font-size: 14px;
  }
}
